@model BugTracking.Models.Priority



<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Create New Priority </h5>
            </div>
            <div class="ibox-content">

                @using (Html.BeginForm("CreatePriority", "Priority", FormMethod.Post, new { role = "form", @class = "form-horizontal" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary("", new { @class = "text-danger" })

                    <div class="hr-line-dashed"></div>
                    <div class="form-group">


                        @Html.LabelFor(model => model.Name, "Priority Name", new { @class = "col-sm-2 control-label" })

                        <div class="col-sm-10">
                            <div class="row">
                                <div class="col-md-3">
                                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Priority" } })
                                  
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="hr-line-dashed"></div>
                    <div class="form-group">


                        @Html.LabelFor(model => model.Description, "Priority Description", new { @class = "col-sm-2 control-label" })

                        <div class="col-sm-10">
                            <div class="row">
                                <div class="col-md-3">@Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Description" } })</div>
                            </div>
                        </div>
                    </div>



                    <div class="hr-line-dashed"></div>
                    <div class="form-group">
                        <div class="col-sm-4 col-sm-offset-2">
                            <a class="btn btn-secondary" href="/Role/RoleList" role="button">Cancel</a>
                            <button class="btn btn-primary" type="submit">Add Priority</button>
                        </div>
                    </div>
                }




            </div>
        </div>
    </div>
</div>

